<!DOCTYPE html>
<html>

<head>
  {%  include head.html %}
</head>

<body>
  <div id="container">
    <div class="inner">
      <header>
        <h1><a href="{{ site.url }}/">{{ site.name | default site.github.repository_name }}</a></h1>
        <h2>{{ site.description }}</h2>
      </header>

      <hr/>

      <section id="downloads" class="clearfix">
        {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
        <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
        {% endif %}
  {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
  {% else %}
        <a href="{{ site.github_url }}" id="view-on-github" class="button"><span>View Github Page</span></a>
  {% endif %}
      </section>
      <hr>
      <section id="main_content">
        {{ content }}
      </section>
      <footer>
        {%  include footer.html %}
      </footer>
    </div>
  </div>
</body>

</html>
